/* add google font Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.left-container{
    display: flex;
    flex-direction: column;
    width: 50%; 
    height: 100%;
    /* align-items: center; */
    background-color: #00bcd4;
}


/* PHẦN THÔNG TIN LIÊN HỆ */
.left-container .profile-picture{
    display: flex;
    justify-content: center;
}

.left-container .profile-picture img{
    width: 60%;
    height: 60%;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.left-container .left-container-contact{
    padding: 0px 20px;
}

.left-container .left-container-contact h2{
    color: whitesmoke;
    border-top: 2px dashed darkslateblue;
    padding-top: 10px;
    text-align: justify;
}

.left-container .left-container-contact li{
    list-style-type: none;
    display: flex;
    /* align-items: center; */
    padding-bottom: 15px;
    text-align: justify;
}

.left-container .left-container-contact li:nth-child(1){
    padding-top: 15px;
}

.left-container .left-container-contact li i{
    font-size: 21px;
    padding-right: 10px;
}

.left-container .left-container-contact li p{
    font-size: 16px;
    color: white;
}

.left-container .left-container-contact li:last-child{
    padding-bottom: 50px;
}

.left-container .left-container-contact li:nth-child(3) img{
    width: 33px;
    padding: 0px 10px 0px 0px;
    background-color: #00bcd4;
    color: #00bcd4;
}

/* PHẦN THÔNG TIN ĐÀO TẠO CHUNG */
.left-container .left-container-basicEducation{
    padding: 0px 20px;
}

.left-container .left-container-basicEducation h2{
    color: whitesmoke;
    border-top: 2px dashed darkslateblue;
    padding-top: 10px;
    text-align: justify;
}

.left-container .left-container-basicEducation li{
    list-style-type: none;
    display: flex;
    padding-bottom: 15px;
    font-size: 15x;
    text-align: justify;
    color: white;
}

.left-container .left-container-basicEducation li:nth-child(1){
    padding-top: 15px;
}

.left-container .left-container-basicEducation li:last-child{
    padding-bottom: 50px;
}

/* PHẦN CÁC KỸ NĂNG KHÁC */
.left-container .left-container-furtherSkills{
    padding: 0px 20px;
}

.left-container .left-container-furtherSkills h2{
    color: whitesmoke;
    border-top: 2px dashed darkslateblue;
    padding-top: 10px;
    text-align: justify;
}

.left-container .left-container-furtherSkills li{
    list-style-type: none;
    display: flex;
    padding-bottom: 15px;
    font-size: 15x;
    text-align: justify;
    color: white;
}

.left-container .left-container-furtherSkills li:nth-child(1){
    padding-top: 15px;
}

.left-container .left-container-furtherSkills li:last-child{
    padding-bottom: 50px;
}

/* THẺ LI CUỐI CÙNG Ở PHẦN FUTHERSKILL */
.left-container .left-container-furtherSkills .demo-link{
    display: flex;
    flex-direction: column;
}

.left-container .left-container-furtherSkills .demo-link p{
    font-size: 15x;
    text-align: justify;
    padding-top: 10px;
    padding-left: 20px;
}

.left-container .left-container-furtherSkills .demo-link a{
    text-decoration: none;
    color: white;
}

.left-container .left-container-furtherSkills .demo-link a:hover{
    /* color: red; */
    font-weight: 900;
}
